body{
  background: black;
   min-width: 320px;
  max-height:100vh;
  z-index:-100;
  text-align: center;
  font-family: var(--JosefinSans);
  font-size: 4vh;
  color: white;
}

  header,
  main,
  footer{
  width:90%;
  margin: 0 auto;
}

/*Header*/
header{
  display: flex;
  margin: 0 auto;
  height:8vh;
  width:90%;
  justify-content: space-between;
  align-items: center;
}


 header a{
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  width:40px;
  height: 40px;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

header a:hover{
  opacity: 1;
  -webkit-filter: invert(65%) sepia(15%) saturate(806%) hue-rotate(356deg) brightness(81%) contrast(80%);
}

header a:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
  }

/*Main*/
  main{
    height: 80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

 
                
/*Footer*/     
  footer{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  color:white;
}

.school_logo img{
  height: 30px;
}

.logo{
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  width:31px;
  height: 31px;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.logo:hover{
  opacity: 1;
  -webkit-filter: invert(65%) sepia(15%) saturate(806%) hue-rotate(356deg) brightness(81%) contrast(80%);
}

.logo:active{
  border: 0;
  outline: 0;
  transform: scale(1.3);
}

.settings{
  background: url('/assets/svg/settings.svg');
}
  
h3{
  color:#FFBCA2;
  letter-spacing: 5px;
  padding-left:20px;
}

.back {
  background-image: url('/assets/svg/back.svg');
}

form{
  width: 70%;
  height: 80vh;
  margin: 0 auto;
}

/*Language*/
.radio {
  display: block;
  position: relative;
  cursor: pointer;
  font-weight: 300;
  line-height: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.5s;
  font-size: 14px;
  }

  .radio:hover {
  color:var(--font-gold);
  }

  .radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  }

  .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 17px;
  width: 17px;
  border: 2px solid #ffff;
  border-radius: 50%;
  }

  .radio:hover input ~ .checkmark {
  border: 2px solid var(--font-gold);
  }

  .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  }

  .radio input:checked ~ .checkmark:after {
  display: block;
  }

  .radio .checkmark:after {
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #FFBCA2;
  }

  /*Volume*/

 .true {
  background-image: url('/assets/svg/mute-true.svg');
}

.false {
  width:30px;
  height:30px;
  background-image: url('/assets/svg/mute.svg');
}

.range {
  background-color: #FFBCA2;
  height: 7px;
  width: 60%;
  border-radius: 25%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.range::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: white;
}

/*Timer*/
.timer-button button{
  width: 50px;
  height: 50px;
  border: 2px solid #FFBCA2;
  background-color:#FFBCA2;
  border-radius: 50%;
  font-size: 4vh;
  color: black;
}
.timer-button button:hover{
    opacity: 1;
    background-color: var(--font-gold);
  }

  .timer-button button:active{
    border: 0;
    outline: 0;
    transform: scale(1.1);
  }


.timer-button input{
  background-color: black;
  border: none;
  text-align: center;
  color: white;
  font-size: 5vh;
}


.default-setting,
.save-setting{
  width: 100px;
  height: 30px;
  border: 2 px solid white;
  border-radius: 25%;
  background-color: black;
  font-size: 20px;
  color: white;
}

.default-setting{
  background-color: black;
}

.save-setting{
  background-color: #FFBCA2;
}

footer{
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
}
 .title{
   font-size: 4vh;
   text-transform: uppercase;
 }

 .btn{
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  width:30%;
  height: 5vh;
  color: white;
  font-size: 3vh;
 }
 .btn:hover{
    opacity: 1;
    background-color: #9d8665;
    ;
  }

  .btn:active{
    border: 0;
    outline: 0;
    transform: scale(1.1);
  }

  .on,
  .default{
   margin-top:3vh;
   background-color: black;
  }

  .off,
  .save{
   background-color:#FFBCA2;
  }